*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}

/* HEADER */

.header-container {
  max-width: 1100px;
  margin: 0 auto;
}
.header {
  background-color: #eeeff1;
  min-height: 700px;
  padding-top: 78px;
}
.header-navbar {
  margin-bottom: 40px;
  margin-left: 275px;
}
.header-navbar__list {
  list-style: none;
  display: flex;
  gap: 60px;
}
/* .header-navbar__list__item {
} */
.header-navbar__link {
  letter-spacing: 0.1em;
  color: #000000;
}
.header-navbar__link.active {
  font-weight: 500;
  color: #34547a;
}
.header-content {
  width: 540px;
  margin-left: 275px;
}
.header-content__title {
  margin-top: 144px;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 48px;
  line-height: 79px;
  color: #000000;
}
.header-content__description {
  line-height: 26px;
  color: #727272;
  margin-bottom: 65px;
}
.header-content__actions {
  margin-bottom: 141px;
}
.header-content__link {
  height: 65px;
  width: 225px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  background-color: #34547a;
  line-height: 26px;
  letter-spacing: 0.1em;
  color: #ffffff;
}

/* MAIN */

.flexbox {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.main {
  background-color: #eeeff1;
  min-height: 1004px;
  order: 1;
  padding-top: 100px;
}
.main-container {
  max-width: 1100px;
  margin: 0 auto;
}
.main-content {
margin-left: 345px;
}
.main-content__title {
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #000000;
}
.main-content__description {
  max-width: 540px;
  line-height: 26px;
  text-align: center;
  color: #727272;
  margin-bottom: 57px;
  /* margin-left: 290px; */
}
.main-content__media {
  margin-bottom: 100px;
}
/* .main-content__video {
} */

/* ASIDE-TOP */

.aside-top {
  min-height: 360px;
  background-color: #ffffff;
  padding-top: 112px;
}
.aside-top-container {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}
.aside-top-content {
  max-width: 540px;
  margin-left: 600px;
}
.aside-top-content__title {
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  /* text-align: center; */
  color: #000000;
}
.aside-top-content__description {
  vertical-align: top;
  line-height: 26px;
  /* text-align: center; */
  color: #727272;
  margin-bottom: 100px;
}

/* ASIDE-BOTTOM */

.aside-bottom {
  min-height: 250px;
  background-color: #34547a;
  padding-top: 100px;
}
.aside-bottom-container {
  max-width: 1100px;
  margin: 0 auto;
}
.aside-bottom__list-container {
  display: flex;
  gap: 45px;
  margin-left: 285px;
}
/* .aside-bottom__list {
} */
.aside-bottom__item {
  min-height: 50px;
  min-width: 141px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.aside-bottom__item__image {
  float: left;
}
.aside-bottom__item__description-1 {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  color: #ffffff;
  float: left;
  margin-left: 18px;
  padding-top: 3px;
}
.aside-bottom__item__description-2 {
  line-height: 26px;
  color: #ffffff;
  float: left;
  margin-left: 18px;
  padding-bottom: 3px;
}

/* FOOTER */

.footer {
  min-height: 151px;
  background-color: #34547a;
  order: 2;
  padding-top: 50px;
}
.footer-container {
  max-width: 1100px;
  margin: 0 285px;
}
/* .footer__content {
} */
.footer__content__descrition {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer_content__rights {
  font-size: 13px;
  line-height: 21px;
  color: #ffffff;
  margin-bottom: 50px;
}