*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
body {
}
a {
  text-decoration: none;
}
.flexbox {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

/* HEADER */

.header-container {
  max-width: 1100px;
  margin: 0 200px;
}
.header {
  background-color: #eeeff1;
  min-height: 700px;
  padding-top: 78px;
}
.header-navbar {
  margin-bottom: 40px;
}
.header-navbar__list {
  list-style: none;
  display: flex;
  gap: 60px;
}
.header-navbar__list__item {
}
.header-navbar__link {
  letter-spacing: 0.1em;
  color: #000000;
}
.header-navbar__link.active {
  font-weight: 500;
  color: #34547a;
}
.header-content {
  width: 540px;
}
.header-content__title {
  margin-top: 144px;
  margin-bottom: 40px;
  font-size: 48px;
  line-height: 79px;
  color: #000000; 
}
.header-content__description {
  line-height: 26px;
  color: #727272;
  margin-bottom: 65px;
}
.header-content__actions {
  margin-top: 65px;
}
.header-content__link {
  height: 65px;
  width: 225px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  background-color: #34547a;
  line-height: 26px;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.main {
  background-color: red;
  min-height: 100px;
  order: 1;
}

/* ASIDE-TOP */

.aside-top-container{
  width: 1100px;
  margin: 0 500px;
}
.aside-top {
  min-height: 360px;
  background-color: #ffffff;
  padding-top: 112px;
}
.aside-top__content {
  width: 540px;
}
.aside-top__title {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #000000;
}
.aside-top__description {
  vertical-align: top;
  line-height: 26px;
  text-align: center;
  color: #727272;
}

.aside-bottom {
  min-height: 100px;
  background-color: blue;
}
.footer {
  min-height: 100px;
  background-color: magenta;
  order: 2;
}